.main-board {
    grid-area: b;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 8vw;
    background-color: aqua;
}

.valid-move {
    opacity: 0.5;
}

.die-image {
    background-color: lightsalmon;
    height: 50px;
    width: 50px;
    color: darkred;
    font-size: 24px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 4px;
}