.greetings-menu{
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: rgb(122, 20, 20);
    padding-top: 15vh;
    padding-bottom: 15vh;
    box-sizing: border-box;
}

.btn {
    background-color: ivory;
    width: 30vw;
    display: grid;
    justify-self: center;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 3vh;
    font-size: 24px;
    color: rgb(122, 20, 20);
    box-shadow: 3px 5px rgb(173, 151, 22);
}

.btn >a{
    text-decoration: none;
    color:rgb(122, 20, 20);
}

.inpt{
    width: 30vw;
    height: 3vh;
    font-size: 20px;
    align-self: center;
    justify-self: center;
    border: 5px solid rgb(122, 20, 20);
    border-bottom: 2px solid ivory;
    background-color: rgb(122, 20, 20);
    color: ivory;
    margin-top: 2vh;
    outline: none;
}

::placeholder{
    color: ivory;
}


.select-class-container{
    width: 70vw;
    height: 90vh;
    background-color: black;
    position: fixed;
    left: 5vw;
    top: 3vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vw;
    /* grid-gap: 10px; */
    justify-items: center;
    align-items: center;
    text-align: center;
}

.class-popup-container{
    color: black;
    font-size: 15px;
    /* height: 90%;
    width: 90%; */
} 

.select-class-container > a > button {
    width: 300px;
}

.choose-class-btn-container > button {
    width: 300px;
}

.classImg{
    width: 135px;
    height: 180px;
}

.class-stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ability{
    display: block;
    text-align: left;
    margin: 8px;
}

.class-card{
    background-color: rgb(247, 211, 144);
    border: 5px double green;
    cursor: pointer;
    height: 520px;
    width: 300px;
    margin-bottom: 1vh;
}
