.general-popup-container{
    background: pink;
}

.start-battle { 
    background: pink;
    display: grid;
    grid-template-areas:
    "p1 vs p2";
}

.battle-player1-menu {
    border: 2px solid;
    padding:10px;
    grid-area: p1;
    display: grid;
  }

.battle-player2-menu {
    border: 2px solid;
    padding:10px;
    grid-area: p2;
    display: grid;
  }

  .vs{
    border: 2px solid;
    justify-content: center;
    padding:10px;
    grid-area: vs;
    display: grid; 
  }

  .village-purchase{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  
  .village-choose-btn > button{
    width: 10vw;
  }

  .village-choose-btn-container{
    display: grid;
    justify-items: center;
  }

  .choose-class-btn-container{
    display: grid;
    justify-items: center;
  }


  .end-game{
    height: 40vh;
    width: 80vw;
    background-color: maroon;
    position: absolute;
    top: 20vh;
    left: 10vw;
  }