.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 11fr;
}

.game-screen {
  /* height: 100%;
  width: 100%; */
  display: grid;
  grid-template-rows: 2fr 9fr;
  grid-template-areas:
  "m"
  "b";
}

.main-controls {
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

button{
  background-color: ivory;
    width: 15vw;
    display: grid;
    justify-self: center;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 3vh;
    font-size: 24px;
    color: rgb(122, 20, 20);
    box-shadow: 3px 5px rgb(173, 151, 22);
    
}